{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="page-title" class="page-title-parallax page-title-dark page-title-video include-header include-topbar"
	style="padding: 80px 0">
	
	<div class="video-wrap">
		<video poster="{{banner.file1.url}}" preload="auto" loop autoplay muted>
			<source src='{{banner.file1.url}}' type='video/mp4' />
		</video>
	</div>

	<div class="container dark clearfix">
		<div class="heading-block center topmargin border-bottom-0">
		</div>


	</div>

</section>
{% for post in post %}
<section id="page-title" class="bg-transparent">

	<div class="container clearfix">
		<h1>{{post.name}}</h1>

	</div>

</section>
{% endfor %}
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			{% for post in post %}
			<div class="row clearfix">
				<div class="col-lg-6">
					<div class="heading-block border-bottom-0 bottommargin-sm">
						<h3>O нас</h3>
						<span>{{post.headline}}</span>
					</div>
					<p>{{post.description}}</p>
				</div>
				<div class="col-lg-6">
					<div class="fslider flex-thumb-grid grid-6" data-pagi="false" data-arrows="false"
					data-thumbs="true">
					<div class="flexslider">
						<div class="slider-wrap">
								{% for image in image %}
								<div class="slide" data-thumb="{{image.image.url}}">
									<img src="{{image.image.url}}" alt="Image">
									<div class="bg-overlay">
										<div class="bg-overlay-content justify-content-start align-items-end">
										</div>
									</div>
								</div>
								{% endfor %}						

							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="container clearfix">
				<h1 style="text-align: center;margin-top:10%; color: #20c997;">
					Работайте с профессионалами</h1>
			</div>

			<div id="shop" class="shop row grid-container gutter-30" data-layout="fitRows">
				{% for team in team %}
				<div class="product col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="grid-inner">
						<div class="product-image">
							<a href="#"><img src="{{team.image.url}}" alt="Checked Short Dress"></a>

						</div>
						<div class="product-desc">
							<div class="product-title">
								<h3><a>{{ team.fullname }}</a></h3>
							</div>
							<div class="product-price"> <ins>{{team.profession}}</ins>
							</div>

						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="clear"></div>



		<div class="container clearfix">
			<div class="row clearfix">
				{% for transport in transport %}
				<div class="container clearfix">
					<h1 style="text-align: center;margin-top:10%; color: #20c997;">Транспорт</h1>
				</div>
				<div class="col-lg-7">
					
					<div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-margin="20"
					data-nav="true" data-pagi="true" data-items-xs="2" data-items-xl="3">
					{% for image in transport_image %}
					<div class="oc-item">
						<div class="team">
							<div class="team-image">
								<img src="{{image.image.url}}" alt="John Doe">
							</div>
								<div class="team-desc">
									<div class="team-title">
										<h4>{{image.name}}</h4>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}						
					</div>
					
				</div>
				
				<div class="col-lg-5">
					<h4>
						{{transport.name}}</h4>
						
						<p>{{transport.description}}</p>
							
						</div>
						{% endfor %}
			</div>
		</div>




	</div>
</section>
{% endblock %}