{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for banner in banner %}
<section id="page-title" class="page-title-center page-title-parallax page-title-dark include-header include-topbar"
	style="background-image: url('{{banner.file.url}}'); background-position: center center; padding: 100px 0;"
	data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -200px;">
	<div class="container clearfix">
		<h1>{{banner.name}}</h1>
		<span><i class="icon-map-marker"></i> </span>
	</div>
</section>
{% endfor %}
<div class="heading-block bottommargin-sm border-bottom-0">
	<span class="before-heading color">
		Создайте индивидуальный план на основе вашего вкуса</span>
	<h2>
		Начните составлять планы путешествий</h2>
</div>
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="single-product">
				<div class="product">
					<div class="row gutter-40">
						<div class="col-md-6">
							<!-- Product Single - Gallery
							============================================= -->
							<div class="product-image">
								<div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
									<div class="flexslider">
										<div class="slider-wrap" data-lightbox="gallery">
											<div class="slide" data-thumb="{{tour.image1.url}}"><a
													href=""
													title="Pink Printed Dress - Front View"
													><img src="{{tour.image1.url}}"
														alt="Pink Printed Dress"></a></div>
											<div class="slide" data-thumb="{{tour.image2.url}}"><a
													href=""
													title="Pink Printed Dress - Side View"
													><img src="{{tour.image2.url}}"
														alt="Pink Printed Dress"></a></div>
														{% for img in tour_image %}
											<div class="slide" data-thumb="{{img.image.url}}"><a
													href=""><img
														src="{{img.image.url}}"
														alt="Pink Printed Dress"></a></div>
														{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 product-desc">

						<div class="line"> <h2>{{tour.name}}</h2> </div>

							<!-- Product Single - Quantity & Cart Button
							============================================= -->

							<div class="line"></div>
							<!-- Product Single - Short Description
							============================================= -->
							<p>{{tour.description}}</p>
						
							<div class="d-flex align-items-center justify-content-between">

								<!-- Product Single - Price
								============================================= -->
								<div class="product-price"><ins>{{tour.tmPrice}}</ins></div><!-- Product Single - Price End -->

								<div class="entry-meta">
									<ul>
										<li><i class="icon-line-map"></i><a
												href="{{tour.location}}"
												target="_blank"> Карта</a></li>
									</ul>
								</div>
								<!-- Product Single - Rating
								============================================= -->
							</div>
						</div>

						<div class="w-100"></div>

						<div class="col-12 mt-5">

							<div class="tabs clearfix mb-0" id="tab-1">

								<ul class="tab-nav clearfix">
									<li><a href="#tabs-1"><i class="icon-align-justify2"></i><span
												class="d-none d-md-inline-block">{{visa.name}}</span></a></li>
								</ul>

								<div class="tab-container">

									<div class="tab-content clearfix" id="tabs-1"
										style="display: flex; justify-content: space-between; flex-wrap: wrap;">
										<div class="col-lg-6">
											<p>{{visa.description}}</p>
											
										</div>
										<div class="col-lg-6">
											<div class="form-widget">

												<div class="form-result"></div>

												<form class="mb-0" id="template-contactform" name="template-contactform"
													action="" method="post">
													{% csrf_token %}
													<div class="form-process">
														<div class="css3-spinner">
															<div class="css3-spinner-scaler"></div>
														</div>
													</div>

													<div class="row">
														<div class="col-md-6 form-group">
															<label for="template-contactform-name">Ф.И.О.
																<small></small></label>
															<input type="text" id="template-contactform-name"
																name="fullname" value=""
																class="sm-form-control required" />
														</div>

														<div class="col-md-6 form-group">
															<label for="template-contactform-email">Эл-почто
																<small></small></label>
															<input type="email" id="template-contactform-email"
																name="email" value=""
																class="required email sm-form-control" />
														</div>

														<div class="col-md-12 form-group">
															<label for="template-contactform-phone">Телефон</label>
															<input type="text" id="template-contactform-phone"
																name="phone" value=""
																class="sm-form-control" />
														</div>

														<div class="w-100"></div>

														<div class="w-100"></div>

														<div class="col-12 form-group">
															<label for="template-contactform-message">Текст
																<small></small></label>
															<textarea class="required sm-form-control"
																id="template-contactform-message"
																name="message" rows="6"
																cols="30"></textarea>
														</div>
														
														<div class="col-12 form-group">
															<button type="submit" value="Submit"
																class="button button-3d m-0">Отправить</button>
														</div>
													</div>

													<input type="hidden" name="prefix" value="template-contactform-">

												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="line"></div>
		</div>
	</div>
</section>

<!-- <div class="section bg-transparent m-0 pt-3 pb-0 mb-5">
	<div class="container mw-md">

		<div class="heading-block border-bottom-0 center mx-auto">
			<h3 class="nott ls0 mb-3">Biz Barada</h3>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, reiciendis modi distinctio maiores magnam
				cumque.</p>
		</div>
		<div class="story-timeline">
			<div class="clear mt-4"></div>
			<div class="story-timeline-line"></div>
			{% for roadmap in roadmap %}
			<div class="row justify-content-md-center">
				<div class="col-md-5 text-md-right">
					<h4 class="bg-secondary d-inline-block px-3 py-1 text-white mb-0 rounded-sm mb-3"><img
							src="{{roadmap.image.url}}" alt=""></h4>
				</div>
				<div class="story-timeline-dots"></div>
				<div class="col-md-5">
					<h3 class="mb-3">{{roadmap.name}}</h3>
					<p>{{roadmap.description}}</p>
				</div>
			</div>
			{% endfor %}
			<div class="clear my-5"></div>
	</div>
</div> -->

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="w-100">
				<h4>Схожие туры</h4>
				<div class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false"
					data-autoplay="5000" data-items-xs="1" data-items-md="2" data-items-lg="3" data-items-xl="4">
					{% for related in related_tours %}
					{% if related.id != tour.id %}
					<div class="oc-item">
						<div class="product">
							<div class="product-image">
								<a href="#"><img src="{{related.image1.url}}" alt="Checked Short Dress"></a>
								<a href="#"><img src="{{related.image2.url}}" alt="Checked Short Dress"></a>
								
								<div class="bg-overlay">
									<div class="bg-overlay-content align-items-end justify-content-between"
										data-hover-animate="fadeIn" data-hover-speed="400">
										<a href="{% url 'outside_tour_detail' related.id %}" class="btn btn-dark"
											><i class="icon-line-expand"></i></a>
									</div>
									<div class="bg-overlay-bg bg-transparent"></div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>

			</div>

		</div>
	</div>
</section>
{% endblock %}